/* Colores de las cards */ 
$projects: (
    quoter: #4EB5D3,
    retorna: #C14129,
    genosur: #85BF4B,
    inexoos: #6333A6,
    hf-copec: #0B51FC,
);

/* JSON de la card de programación */
.json-info {
    padding: 10px;
    font-size: 17px;
    overflow: hidden;
    max-height: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;

    @media screen and (max-width: 768px) {
        font-size: 15px; // Cambia el tamaño del texto en pantallas pequeñas
    }
}

/* Fondos por empresa */
@each $project, $hex in $projects {
    .background-card--#{$project} {
        background-color: $hex;
    }
}
