/* Colores de las cards */ 
$proyectos: (
    quoter: #072126,
    retorna: #459526,
    genosur: #048ABF,
    inexoos: #000000,
    hf-copec: #DFDFDF,
);

/* JSON de la card de programación */
.json-info {
    padding: 10px;
    font-size: 17px;
    overflow: hidden;
    max-height: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;

    @media screen and (max-width: 768px) {
        font-size: 15px; // Cambia el tamaño del texto en pantallas pequeñas
    }
}
