/* Imágenes */
.cover-picture {
    object-fit: cover;
}

@media (max-width: 768px) {
    .reduced-size {
        width: 50%;
    }
}

.profile-picture-container {
    .clicked {
        display: none;
        padding: 0;
    }

    &:hover {
        .clicked {
            display: block;
            padding: 0;
        }

        .normal {
            display: none;
            padding: 0;
        }
    }
}