/* Imágenes */
.cover-picture {
    object-fit: cover;
}

@media (max-width: 768px) { /* Media query para pantallas pequeñas */
    .reduced-size {
        width: 50%; /* Reducir el ancho de las imágenes al 40% del ancho de la pantalla */
    }
}

.profile-picture-container {
    .hover {
        display: none;
        padding: 0;
    }

    &:hover {
        .hover {
            display: block;
            padding: 0;
        }

        .normal {
            display: none;
            padding: 0;
        }
    }
}