/* Reset - Configuración básica de mis estilos  */
/* Esto afecta a todo el HTML */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.text-color--dark-green {
    color: #072126;
}

/* ESTILOS DEL HEADER */

/* Se usa el !important para que prevalezca en el side menu */
.background-color--dark-green {
    background-color: #072126 !important;
} 

.profile-picture {
    object-fit: cover;
}
