/* Reset - Afecta a todos los HTML */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Colores */
.text-color--green {
    color: #459526;
}
.text-color--dark-green {
    color: #072126;
}

.background-color--dark-green {
    background-color: #072126 !important;
} 

.star-icon--blue {
    color: #048ABF;
}

/* Imágenes */
.cover-picture {
    object-fit: cover;
}
