/* Reset - Afecta a todos los HTML */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Colores */
.text-color--green {
    color: #459526;
}
.text-color--dark-green {
    color: #072126;
}

.background-color--dark-green {
    background-color: #072126 !important;
} 

.star-icon--blue {
    color: #048ABF;
}

/* Imágenes */
.cover-picture {
    object-fit: cover;
}

/* Oculta la imagen hover inicialmente */
.profile-picture-container .hover {
    display: none;
    padding: 0;
}

/* Muestra la imagen hover cuando hay un hover sobre el contenedor */
.profile-picture-container:hover .hover {
    display: block;
    padding: 0;
}

/* Oculta la imagen normal cuando hay un hover sobre el contenedor */
.profile-picture-container:hover .normal {
    display: none;
    padding: 0;
}


/* Estilos para las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #DFDFDF;
    color: white;
    border-radius: 20%;
}

/* Estilos para el color de las flechas cuando se les pasa el mouse */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: #072126;
    color: white;
    border-radius: 20%;
}
